@model SkyInsuranceThird.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

    </dl>

    <h4> List of Vehicles</h4>
    <ul>
        @foreach (var vehicle in Model.Vehicles)
        {
        <li>
            Make &amp; Model : @vehicle.MakeModel <br />
            Registration: @vehicle.Registration
        </li>
            
        }
    </ul>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete Vehicles", "DeleteVehicles", new { id = Model.Id }) |
    @*@Html.ActionLink("Edit Vehicle", "EditVehicle", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
